// Color Variables
$primary-color: #9f019d;
$text-color: #000000;
$text-color-dark: #000000;
$body-color: #FFFFFF;
$border-color: #777777;
$black: #000000;
$white: #FFFFFF;
$light: #EDF6F5;

$transparent: rgba(0,0,0,0);

// Font Variables
$primary-font: 'Public Sans', sans-serif;
$icon-font: 'themify';
